@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Student Management System Application</h1>
    <p> <img src ="/image/student.png" alt=" management" /></p>
</div>
